.value-picker-field {
    padding: 5px 0
}
.value-picker-element {
    border: 1px solid var(--borders-color);
    background: var(--primary-background);
    border-radius: 5px;
    outline: none
}


input.value-picker-element {
    color: var(--primary-text);
    width: 250px;
    padding: 10px
}

select.value-picker-element {
    color: var(--primary-text);
    width: 70px;
    padding: 10px
}

#input_x_warning {
    color: var(--error)
}

.label {
    color: var(--primary-text);
    padding-right: 20px
}
